<template>
    <div class="ui card">
        <a class="content" route-href="route:jobs.edit; params.bind: {id: job.id}">
            <div class="right floated meta" style="max-width: 40%;">
                ${dateDisplay}
            </div>
            <div class="header">
                <i class="icon building" show.bind="isProject"></i>
                <i class="icon wrench" show.bind="isServiceCall"></i>
                &nbsp;${job.number}
            </div>
            <div class="meta">${job.customer}</div>
        </a>
        <div class="content">
            <div class="header">
                <button class="ui right floated tablet only" click.trigger="toggleExpanded()">
                    <i class="dropdown icon ${expanded ? 'vertically flipped' : ''}"></i>
                </button>
                ${job.name}
            </div>
            <p class="ui ${expanded ? '' : 'computer only'}">${job.description}</p>
        </div>
        <div class="ui extra content ${expanded ? '' : 'computer only'}">
            <div class="right floated author">
                <div class="ui dropdown foreman">
                    <div class="text">
                        <i class="icon user" show.bind="job.foreman"></i>
                        <i class="icon user plus" hide.bind="job.foreman"></i>
                        &nbsp;${foremanDisplay}
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <div class="item">Barry</div>
                        <div class="item">Dan</div>
                        <div class="item">Kurt</div>
                    </div>
                </div>
            </div>
            <div class="ui dropdown status">
                <div class="text">
                    <i class="icon circular ${job.status.cssClass}"></i>
                    <span>&nbsp;${job.status.name}</span>
                </div>
                <i class="dropdown icon"></i>
                <div class="menu">
                    <div class="item" repeat.for="status of statuses" data-id="${status._id}">
                        <i class="icon circular ${status.cssClass}"></i>
                        <span>&nbsp;${status.name}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>