<template>
    <div class="ui card">
        <a class="content" route-href="route:jobs.edit; params.bind: {id: job.id}">
            <div class="right floated meta" style="max-width: 40%;">
                ${dateDisplay}
            </div>
            <div class="header">
                <i class="icon building" show.bind="isProject"></i>
                <i class="icon wrench" show.bind="isServiceCall"></i>
                &nbsp;${job.number}
            </div>
            <div class="meta">${job.customer}</div>
        </a>
        <div class="content">
            <div class="header">${job.name}</div>
            <p class="ui computer only">${job.description}</p>
        </div>
        <div class="ui extra content computer only">
            <div class="right floated author">
                <div class="ui dropdown foreman">
                    <div class="text">
                        <i class="icon user" show.bind="job.foreman"></i>
                        <i class="icon user plus" hide.bind="job.foreman"></i>
                        &nbsp;${foremanDisplay}
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <div class="item">Barry</div>
                        <div class="item">Dan</div>
                        <div class="item">Kurt</div>
                    </div>
                </div>
            </div>
            <div class="ui dropdown status">
                <div class="text">
                    <i class="icon circular" if.bind="isPending"></i>
                    <span if.bind="isPending">&nbsp;Pending</span>

                    <i class="hourglass half icon circular inverted green" if.bind="isInProgress"></i>
                    <span if.bind="isInProgress">&nbsp;In Progress</span>

                    <i class="hourglass end icon circular" if.bind="isComplete"></i>
                    <span if.bind="isComplete">&nbsp;Complete</span>
                </div>
                <i class="dropdown icon"></i>
                <div class="menu">
                    <div class="item" repeat.for="status of statuses" data-id="${status._id}">
                        <i class="icon circular ${status.cssClass}"></i>
                        <span>&nbsp;${status.name}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>