#job-phases-table {
    .row.header {
        background-color: #ffffff;
        text-align: center;
        font-weight: bold;

        &.fixed {
            position: fixed;
            top: 0;
            z-index: 100;
            width: 1127px !important;
            border-bottom: solid 1px #E8E8E8;
        }
    }
}