<template>
    <require from="styles/calendar.css"></require>

    <button type="button" class="ui button basic right floated hide-desktop mini" click.delegate="toggleOptionsExpanded()">
        Options
        <i class="dropdown icon ${optionsExpanded ? 'vertically flipped' : ''}"></i>
    </button>
    <div class="ui stackable container ${optionsExpanded ? 'clear-both' : 'hide-mobile'}">
        <div id="calendar-menu" class="ui menu button-bar">
            <div class="ui container form">
                <div class="inline fields">
                    <label>View:</label>
                    <div class="field">
                        <div class="ui radio checkbox">
                            <input type="radio" id="calendar-view-month" name="calendar-view" value="month" checked.bind="currentView">
                            <label for="calendar-view-month">Month</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui radio checkbox">
                            <input type="radio" id="calendar-view-week" name="calendar-view" value="basicWeek" checked.bind="currentView">
                            <label for="calendar-view-week">Week</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui radio checkbox">
                            <input type="radio" id="calendar-view-day" name="calendar-view" value="basicDay" checked.bind="currentView">
                            <label for="calendar-view-day">Day</label>
                        </div>
                    </div>
                    <div class="field hide-mobile">|</div>
                    <div class="field">
                        <div class="ui toggle checkbox">
                            <input type="checkbox" id="calendar-show-weekends" checked.bind="showWeekends">
                            <label for="calendar-show-weekends">Show Weekends</label>
                        </div>
                    </div>
                    <div class="field hide-mobile">|</div>
                    <div class="field">
                        <div class="ui toggle checkbox">
                            <input type="checkbox" id="calendar-show-weeknumbers" checked.bind="showWeekNumbers">
                            <label for="calendar-show-weeknumbers">Show Week Numbers</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ui clearing divider hide-desktop calendar-divider"></div>
    <div class="ui horizontal segments">
        <div class="ui compact segment hide-mobile divided list" id="jobs-list">
          <div class="item" repeat.for="job of activeJobs | sort: 'number'">
            <i class="icon ${getIconClass(job.jobType)}" style.bind="{color: getColour(job.foreman, '#000000de')}"></i>
            <div class="content">
                <a class="header" route-href="route:jobs.edit;params.bind:{id: job._id}">
                  ${getTitle(job)}
                </a>
            </div>            
          </div>
        </div>
        <div class="ui segment">
          <div id="calendar" class="${canCreate ? 'editable' : 'readonly'}"></div>
        </div>
    </div>
</template>
