<template>
    <div class="ui cards">
        <list-item class="card">
            <div class="content">
                <div class="close-button-wrapper">
                    <button class="ui basic icon button mini close">
                        <i class="close icon"></i>
                    </button>
                </div>
                <div class="right floated meta" style="max-width: 40%;">
                    <span>${startDateDisplay}</span>
                    <span show.bind="job.endDate">&nbsp;&ndash;&nbsp;</span>
                    <br show.bind="job.endDate">
                    <span show.bind="job.endDate">${endDateDisplay}</span>
                </div>
                <a class="header" href.bind="routeHref">
                    <i class="icon building" show.bind="isProject"></i>
                    <i class="icon wrench" show.bind="isServiceCall"></i>
                    &nbsp;${jobNumberDisplay}
                </a>
                <div class="ui header">${job.customer.name}</div>
            </div>
            <div class="content">
                <div class="ui sub header">
                    ${job.name}
                </div>
                <p class="ui">${job.description}</p>
            </div>
            <div class="ui extra content">
                <div class="right floated author" style.bind="foremanColour">
                    <div class="ui foreman">
                        <div class="text">
                            <i class="icon user" show.bind="job.foreman"></i>
                            &nbsp;${foremanDisplay}
                        </div>
                    </div>
                </div>
                <div class="ui status">
                    <div class="text">
                        <i class="icon circular ${jobStatus.cssClass}"></i>
                        <span>&nbsp;${jobStatus.name}</span>
                    </div>
                </div>
            </div>
        </list-item>
    </div>
</template>
