<template>
    <div class="column" element.ref="el">
        <div class="ui dropdown status">
            <div class="text" data-tooltip.bind="value">
                <i class="au-target icon circular hourglass half inverted green" show.bind="value==='partial'"></i>
                <i class="au-target icon circular hourglass end inverted blue" show.bind="value==='complete'"></i>
                <i class="au-target icon circular hourglass start inverted red" show.bind="!value || value==='not started'"></i>
                <i class="au-target icon circular minus" show.bind="value==='n/a'"></i>
                <span class="job-status-name">${value}</span>
            </div>
            <i class="dropdown icon"></i>
            <div class="menu">
                <div repeat.for="status of statuses" class="item" data-value.bind="status">
                    <i class="au-target icon circular hourglass half inverted green" show.bind="status==='partial'"></i>
                    <i class="au-target icon circular hourglass end inverted blue" show.bind="status==='complete'"></i>
                    <i class="au-target icon circular hourglass start inverted red" show.bind="status==='not started'"></i>
                    <i class="au-target icon circular minus" show.bind="status==='n/a'"></i>
                    <span class="job-status-name">${status}</span>
                </div>
            </div>
        </div>                        
    </div>
</template>