@import '../jspm_packages/npm/semantic-ui@2.2.2/src/themes/default/globals/site.variables';
@import (less) '../jspm_packages/github/mdehoog/Semantic-UI@calendar-dist/dist/components/calendar.css';
@import '../jspm_packages/npm/font-awesome@4.6.3/less/font-awesome.less';
@import '../jspm_packages/npm/toastr@2.1.2/toastr';

.ui.secondary.pointing.menu .item.logo-item {
  padding: 0 20px;
}

.ui.cards .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0.875em 0.5em;
  float: none;
}

.fab {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 10;
}

.ui.fixed.menu.button-bar.top {
  top: 50px;
}

@media only screen and (max-width: @largestMobileScreen) {
  // hide the Company Name on phones
  .menu .item.logo-item span {
    display: none;
  }
  .ui.cards .card {
    width: 100%;
  }

  .hide-mobile {
    display: none !important;
  }
}
@media only screen and (min-width: @tabletBreakpoint) {
  .hide-desktop {
    display: none !important;
  }
}